* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* overflow-x: hidden; */
}

:root {
  --orange: rgb(255, 145, 0);
}
body {
  overflow-x: hidden;
}

/* GO TO TOP BUTTON */
.go_to_top {
  position: fixed;
  z-index: 2;
  cursor: pointer;
  background: var(--orange);
  color: white;
  right: 50px;
  bottom: 50px;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  transition: 0.2s all ease-in-out;
  transform: scale(0);
  justify-content: center;
  transform: scale(1.1);
}

/* PAGE TRANSIT */
.page_transit {
  height: 100vh;
  width: 100vw;
  background: black;
  color: white;
  font-size: 3rem;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
}

.page_transit h1 {
  padding: 0 20px;
}
.page_transit .loader {
  height: 10px;
  width: 100%;
  background: var(--orange);
}

/* NAVBAR CSS */
.nav {
  width: 100vw;
  height: 80px;
  background-color: black;
  color: white;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
  transition: 1s position ease-in-out;
}

.nav .wrapper_nav {
  width: 97%;
  height: 100%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav .wrapper_nav .left_part {
  width: 50%;
  background-color: transparent;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
}

.nav .wrapper_nav .right_part {
  width: 50%;
  background: transparent;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav .wrapper_nav .right_part .links {
  list-style-type: none;
  display: flex;
  width: 100%;
  gap: 3rem;
  justify-content: right;
  padding-right: 10px;
}

.nav .wrapper_nav .right_part .links .link a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  /* background: yellow; */
  height: 100%;
  position: relative;
  padding: 12px 0;
  transition: 0.2s linear all;
}

.nav .wrapper_nav .right_part .links .link a::after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 0;
  margin-left: auto;
  background: var(--orange);
  transition: 0.1s linear all;
}

.nav .wrapper_nav .right_part .links .link a:hover::after {
  width: 100%;
}

.nav .wrapper_nav .right_part .links .link .active {
  color: var(--orange);
}

.nav .wrapper_nav .right_part .links .link .active::after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  background: var(--orange);
}

.nav .wrapper_nav .right_part .links .link a:hover {
  color: var(--orange);
}

.nav .wrapper_nav .left_part .logo {
  background: transparent;
  width: fit-content;
  margin-left: 20px;
}

/* FOOTER */
.wrapper_footer {
  width: 100vw;
  height: 500px;
  background: rgba(0, 0, 0, 0.9);
  color: white;
  display: flex;
  flex-direction: column;
}

.wrapper_footer .top_part {
  background-color: black;
  height: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper_footer .bottom_part {
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 0.8rem;
  font-weight: 600;
  color: rgba(128, 128, 128, 0.432);
  /* background-color: var(--orange); */
  height: 25%;
}

.wrapper_footer .top_part .left_part {
  width: calc(100vw / 2);
  background-color: transparent;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  border-right: 1px solid grey;
}

.wrapper_footer .top_part .left_part .logo {
  font-size: 1.2rem;
}
.wrapper_footer .top_part .left_part a {
  text-decoration: none;
  color: white;
  background: var(--orange);
  padding: 12px;
  transform: scale(1.2);
  border-radius: 10px;
  font-weight: 500;
}

.wrapper_footer .top_part .right_part {
  width: calc(100vw / 2);
  background: transparent;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.wrapper_footer .top_part .right_part .social_media {
  display: flex;
  gap: 30px;
}

.wrapper_footer .top_part .right_part .social_media a {
  text-decoration: none;
  color: white;
  background: var(--orange);
  padding: 10px 10px;
  border-radius: 10px;
  display: flex;
  transform: scale(1);
  align-items: center;
  justify-content: center;
  transition: all 0.1s linear;
}

.wrapper_footer .top_part .right_part span {
  font-size: 1.4rem;
  font-weight: bold;
}
.wrapper_footer .top_part .right_part .social_media a:hover {
  transform: scale(1.1);
}

/* LANDING PAGE PART */
.landing_section {
  width: 100vw;
  height: 100vh;
  background: var(--orange);
  display: flex;
  position: relative;
}

.landing_section .left_part {
  width: calc(100vw / 2);
  height: 100%;
  background: var(--orange);
  display: flex;
  gap: 130px;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  overflow: hidden;
  padding-top: 100px;
}

.landing_section .left_part .club_rocketry {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 15px;
}

.landing_section .left_part .club_name {
  color: black;
  font-weight: bold;
  background-color: transparent;
  height: fit-content;
  width: fit-content;
  text-align: center;
  font-size: 6rem;
  letter-spacing: 80px;
}

.landing_section .right_part {
  width: calc(100vw / 2);
  height: 100%;
  background: black;
  display: flex;
  justify-content: top;
  flex-direction: column;
  gap: 130px;
  align-items: center;
  padding-top: 100px;
}

.landing_section .right_part .iitm_text {
  position: absolute;

  color: var(--orange);

  font-size: 5rem;
  font-weight: bold;
  right: 180px;
  bottom: 20px;
}

.landing_section .right_part .club_name {
  color: var(--orange);
  font-weight: bold;
  background: transparent;
  height: fit-content;
  font-size: 6rem;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: right;
  text-align: right;
  padding-left: 100px;
  /* justify-content: center; */
  letter-spacing: 80px;
}

.landing_section .right_part .club_rocketry {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 15px;
  color: var(--orange);
}

/* ROCKET */
.rocket {
  font-size: 15rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  filter: invert(0);
  color: rgba(217, 217, 217, 0.924);
  animation: rocketAnim 0.1s infinite;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flame {
  background: rgb(0,0,0);
background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,172,5,1) 100%);
  border-radius: 50%;
  height: 200px;
  width: 30px;
  box-shadow: 0px 0px 8px 2px orange;
}
